.action-bar-container {
    position: relative;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 175px; 
    background: url('assets/tela/baixo-tela.png') center no-repeat;
    background-size: 100% 100%;
}

#fastPlayBtn {
    display: inline-flex;   
    align-items: center;    
    justify-content: center;
    width: 40px;            
    height: 40px;           
    border-radius: 50%;     
    border: 2px solid gold;
    color: gold;               
    background-color: inherit;  
    box-shadow: 0 0 5px gold;   
    cursor: pointer;            
    transition: box-shadow 0.3s;
    margin-right: 40px;
}

#fastPlayBtn:hover {
    box-shadow: 0 0 10px gold;
}

#betDecreaseBtn {
    display: inline-flex;   
    align-items: center;    
    justify-content: center;
    width: 40px;            
    height: 40px;           
    border-radius: 50%;     
    border: 2px solid gold;
    color: gold;               
    background-color: inherit;  
    box-shadow: 0 0 5px gold;   
    cursor: pointer;            
    transition: box-shadow 0.3s;
    margin-right: 40px;
}

#betDecreaseBtn:hover {
    box-shadow: 0 0 10px gold;
}

#repeatButton {
    appearance: none;
    border: none;
    background: url('assets/buttons/play-btn.png') transparent 0 0 no-repeat;
    background-size: cover;
    width:  98px;
    height: 98px;
    cursor: pointer;
    animation: 6s linear infinite spin;
}

#repeatButton.disabled {
    pointer-events: none; 
    opacity: 1; 
}

/* #repeatButton:hover {
    box-shadow: 0 0 10px gold;
} */

#betIncreaseBtn {
    display: inline-flex;   
    align-items: center;    
    justify-content: center;
    width: 40px;            
    height: 40px;           
    border-radius: 50%;     
    border: 2px solid gold;
    color: gold;               
    background-color: inherit;  
    box-shadow: 0 0 5px gold;   
    cursor: pointer;            
    transition: box-shadow 0.3s;
    margin-left: 40px;
}

#betIncreaseBtn:hover {
    box-shadow: 0 0 10px gold;
}

#autoPlayBtn {
    display: inline-flex;   
    align-items: center;    
    justify-content: center;
    width: 40px;            
    height: 40px;           
    border-radius: 50%;     
    border: 2px solid gold;
    color: gold;               
    background-color: inherit;  
    box-shadow: 0 0 5px gold;   
    cursor: pointer;            
    transition: box-shadow 0.3s;
    margin-left: 40px;
}

#autoPlayBtn:hover {
    box-shadow: 0 0 10px gold;
}




