#betIncreaseBtn {
    appearance: none;
    border: none;
    background: url('assets/plus-btn.png') no-repeat;
    background-size: cover;
    width:  24px;
    height: 24px;
    cursor: pointer;
    margin-left: 10px;
}

#betDecreaseBtn {
    appearance: none;
    border: none;
    background: url('assets/minus-btn.jpg') no-repeat;
    background-size: cover;
    width:  30px;
    height: 30px;
    cursor: pointer;
    margin-right: 10px;
}

#repeatButton {
    appearance: none;
    border: none;
    background: url('assets/repeat.png') transparent 0 0 no-repeat;
    background-size: cover;
    width: 48px;
    height: 48px;
    cursor: pointer;
    animation: 6s linear infinite spin;
}

.action-bar-container {
    align-self: center;
    display: flex;
    justify-content: center; 
    align-items: center;     
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 20px;
    padding: 10px 0; 
}
