@import url('https://fonts.googleapis.com/css?family=Cairo');

@keyframes spin {
  to {
    transform: rotate(360deg)
  }
}

body { 
    background-color: #292929;
  }
  
* { box-sizing: border-box; }

.container-fluid {
  width: 1300px;  /* ou qualquer outro valor que preferir */
  height: 800px; /* ou qualquer outro valor que preferir */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
}

.parent-container {
  transform: scale(.62, .62);
  transform-origin: top center;
  overflow: hidden;
  margin-top: 10px;
  width: 40%;
}

  
.gif-container {
  height: 175px;
  overflow: hidden;
}
  
.gif-container img {
  padding: 0 0;
}

.lateral-column {
  background: url('assets/coluna.png') no-repeat center center;
  background-size: 100% 100%; 
}
  
.no-stack-col {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
