@import url('https://fonts.googleapis.com/css?family=Cairo');

@keyframes spin {
  to {
    transform: rotate(360deg)
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body { 
    background: url('assets/tela/wallpaper.png') no-repeat center center;
    background-size: cover; 
    overflow: scroll;
}
  
* { box-sizing: border-box; }

.container-fluid {
  width:  1250px; 
  /* height: 500px;   */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
}

.parent-container {
  transform: scale(.62, .62);
  transform-origin: top center;
  overflow: hidden;
  margin-top: 10px;
  width: 43%;
  position: relative;
}

  
.gif-container {
  height: 216px;
  overflow: hidden;
}
  
.gif-container img {
  padding: 0 0;
}