@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@keyframes moverLetreiro {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.bet-adv-bar-container {
  background-color: inherit;
  overflow: hidden;
}

.adv-scrolling-text {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  color: #fff;
  text-shadow: 
    1px 1px 0 #000,
    2px 2px 0 #000,
    3px 3px 0 #000,
    4px 4px 0 #000; /* Ajuste para um efeito mais profundo */
  white-space: nowrap;
  animation: moverLetreiro 10s linear infinite;
}
