.icons { 
    flex: none;
    display: inline-block;
    width:  148px;
    height: 564px;
    overflow: hidden;
    background: #fff url('assets/TIRA_148x1692.png') repeat-y;
    /* background: #fff url('assets/sprite-original.png') repeat-y; */
    will-change: backgroundPosition;
    transition: 0.3s background-position ease-in-out;
    /* transform: translateZ(0); */
    position: relative;
    padding: 0;
}

/* .spinner-container .icons:nth-of-type(3) {
    margin: 0 10px;
} */

.spinner-container {
    display: flex;
    justify-content: center; 
    position: relative;
    overflow: hidden;
    transition: 0.3s transform;
}


.lateral-column-left {
    background: url('assets/tela/lateral-esquerda.png') no-repeat center center;
    background-size: 100% 100%; 
}

.lateral-column-right {
    background: url('assets/tela/lateral-direita.png') no-repeat center center;
    background-size: 100% 100%; 
}